<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>    
    <add key="github" value="https://nuget.pkg.github.com/mhumelsine/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="mhumelsine" />
      <add key="ClearTextPassword" value="4ce662ed945741de9d68d7f72ad6a1dd26015bbb" />
    </github>
  </packageSourceCredentials>
</configuration>